@tailwind base;
@tailwind components;
@tailwind utilities;


.tippy-box[data-theme~='custom'] {
    background-color: var(--color-primary);
    color: var(--color-primary-foreground);
    font-weight: 400;
    text-shadow: none;
    box-shadow: none;
}

.tippy-box[data-theme~='custom'][data-placement^='top']>.tippy-arrow::before {
    border-top-color: var(--color-primary);
}

.tippy-box[data-theme~='custom'][data-placement^='bottom']>.tippy-arrow::before {
    border-bottom-color: var(--color-primary);
}

.tippy-box[data-theme~='custom'][data-placement^='left']>.tippy-arrow::before {
    border-left-color: var(--color-primary);
}

.tippy-box[data-theme~='custom'][data-placement^='right']>.tippy-arrow::before {
    border-right-color: var(--color-primary);
}

/* dark colors for theme*/
.dark .tippy-box[data-theme~='custom'] {
    background-color: var(--color-dark-primary);
    color: var(--color-dark-primary-foreground);
    font-weight: 400;
    text-shadow: none;
    box-shadow: none;
}

.dark .tippy-box[data-theme~='custom'][data-placement^='top']>.tippy-arrow::before {
    border-top-color: var(--color-dark-primary);
}

.dark .tippy-box[data-theme~='custom'][data-placement^='bottom']>.tippy-arrow::before {
    border-bottom-color: var(--color-dark-primary);
}

.dark .tippy-box[data-theme~='custom'][data-placement^='left']>.tippy-arrow::before {
    border-left-color: var(--color-dark-primary);
}

.dark .tippy-box[data-theme~='custom'][data-placement^='right']>.tippy-arrow::before {
    border-right-color: var(--color-dark-primary);
}