@font-face {
  src: url(/fonts/MaterialIcons.ttf);
  font-family: "MaterialIcons";
}

@font-face {
  src: url(/fonts/MaterialCommunityIcons.ttf);
  font-family: "MaterialCommunityIcons";
}

@font-face {
  src: url(/fonts/FontAwesome6_Solid.ttf);
  font-family: "FontAwesome6_Solid";
}

/* @font-face {
    src: url(/fonts/FontAwesome6_Brands.ttf);
    font-family: "FontAwesome6_Brands";
}

@font-face {
    src: url(/fonts/FontAwesome6_Regular.ttf);
    font-family: "FontAwesome6_Regular";
} */

html,
body {
  height: 100vh;
  overflow: hidden;
}

.sm\:hidden,
.md\:hidden,
.lg\:hidden,
.xl\:hidden,
.\32xl\:hidden {
  display: none;
}

.sm\:flex,
.md\:flex,
.lg\:flex,
.xl\:flex,
.\32xl\:flex {
  display: flex;
}
.md\:block,
.lg\:block,
.xl\:block,
.\32xl\:block {
  display: block;
}
.md\:inline,
.lg\:inline,
.xl\:inline,
.\32xl\:inline {
  display: inline;
}
.md\:flex,
.lg\:flex,
.xl\:flex,
.\32xl\:flex {
  display: flex;
}
